body
{
height: 100%;
width: 100%;
display: flex;

flex-direction: column;
justify-content: center;
align-items: center;
}
.add
{
align-self: flex-start;
height: 200px;

display: flex;
align-items: center;
width: 40%;
gap: 50px;
margin-bottom: 2%;
max-height: 100px;


}
.list-items
{
    gap: 50px;
align-self: flex-start;
border: 1px solid black;
width: 40%;
padding: 5%;
position: relative;
border-radius: 5px ;

}
.item {

display: block;

}
#add-btn
{

    background-color: #0088fd;
    color: white;
    width: 105px;
    padding: 5px;
    border-radius: 3px ;
    border: 1px solid white;
}
.list-label
{
position: absolute;
background-color: #0088fd;
top: -20px;
left: 5px;
color: white;
padding-inline-start: 1%;
padding: 3px;
height: 25px;
display: flex;
justify-content: center;
flex-direction: column;
border-radius: 4px ;
font-family: Arial, Helvetica, sans-serif;
width:150px;
max-height: 70px;
padding-left: 5px;

}
.counter
{

    position: absolute;
background-color: #0088fd;
top: -10px;
right: -10px;
color: white;
padding-inline-start: 1%;
padding: 3px;
height: 20px;
display: flex;
justify-content: center;
flex-direction: row;
border-radius: 4px ;
font-family: Arial, Helvetica, sans-serif;
width:25px;
max-height: 50px;
align-items: center;
border-radius: 5px;

}.item
{
display: flex;
justify-content: space-between;

}